		body{
            background-color: #e7e3e2;
            font-family: verdana;
            font-size: 20px;
            color:rgb(1, 1, 31);
        }
        h1{
            color:rgb(1, 1, 61);
        }
        table{
            background-color: black;
            border: 2px solid rgb(29, 29, 29);
        }
        table th{
            background-color: #49BEAA;
            height: 30px;
            padding: 15px;
        }
        table td{
            background-color: #456990;
            height: 30px;
            padding: 10px;
        }
        td:hover,th:hover {
            background-color: #EEB868;
        }
        #ListaHobby{
            border: 2px solid rgb(29, 29, 29);
            background-color: #ebd6d2;
        }
        img{
            border-radius: 10%;
            width: auto;
            height: 500px;
            opacity: 0.83;
            margin-left: 50px;
        }
        #ButonInapoi{
            font-size: 30px;
            color:rgb(1, 1, 61);
            text-decoration: none;
            border-radius: 30%;
            font-family: sans-serif;
            margin: 50px;
        }
        #catalogimage
        {
            position: absolute;
            width: auto;
            height: 200px;
            border-radius: 1%;
            margin: 0 auto;
            left: 0;
            right: 0;
        }
        #pagini a{
            font-size: 20px;
            text-decoration: none;
            padding-left: 15px;
            color:rgb(68, 68, 131);
        }
        #pagini a:hover{
            color: #3187e4;
        }
        #titluCat{
           margin-top: 100px;
           padding-top: 100px;
           text-decoration: underline;
        }